@using CFC.Models.Prj

<div class="container-fluid">
    @*<div class="row">
            <div class="col-lg-4 col-6">自動帶入</div>
            <div class="col-lg-8 col-12">
                <select id="projectLogs">
                    <option>--請選擇--</option>
                    @foreach (var projectLog in ViewBag.ProjectLogs as IEnumerable<User_Project_Log>)
                    {
                        <option data-IndustrialType="@projectLog.ProjectIndustrialType"
                                data-City="@projectLog.ProjectCity"
                                data-Address="@projectLog.ProjectAddress"
                                data-IndustrialID="@projectLog.ProjectIndustrialID">
                            @projectLog.ProjectIndustrialID
                        </option>
                    }
                </select>
            </div>
        </div>*@

    <div class="row">
        <div class="col-lg-4 col-6 title">專案名稱</div>
        <div class="col-lg-8 col-12 input"><input class="form-control" type="text" id="projectName"></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-6 title">廠址</div>
        <div class="col-lg-8 col-12 input"><input class="form-control" type="text" id="IndustrialAddress"></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-6 title">工廠登記號</div>
        <div class="col-lg-8 col-12 input"><input class="form-control" type="text" id="IndustrialNo"></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-6 title">縣市別</div>
        <div class="col-lg-8 col-12">
            <select class="form-control input" id="projectCity">
                @foreach (var city in ViewBag.Cities as IEnumerable<Global_City>)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-6 title">行業別</div>
        <div class="col-lg-8 col-12">
            <select class="form-control input" id="projectIndustrialType">
                @foreach (var type in ViewBag.IndustriaTypes as IEnumerable<Global_Industrial>)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="savePoject-container">
        <button class="btn-green btn-s save">儲存專案</button>
    </div>
</div>

<script>
    $(document).ready(() => {

        // 歷史專案紀錄
        $("#projectLogs").on("change", () => {
            var selected = $("#projectLogs").find(":selected");

            $("#IndustrialAddress").val(selected.attr("data-Address"))
            $("#IndustrialNo").val(selected.attr("data-IndustrialID"))
            $("#projectCity").val(selected.attr("data-City"))
            $("#projectIndustrialType").val(selected.attr("data-IndustrialType"))
        });

        // 關閉畫面
        $(".saveProject-cover .close-btn").on("click", function () {
            $(".saveProject-cover").attr("style", "display:none");
            $(".saveProject-cover select , .saveProject-cover input").val(null);
        });


        // 儲存專案
        $(".savePoject-container .save").on("click", function () {
            fetch(window.siteroot + "CFC/SaveProject", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    RowID: $("#CalRowID").attr("value"),
                    UserID: $("#UserID").attr("value"),
                    ProjectName: $("#projectName").val(),
                    ProjectIndustrialID: $("#IndustrialNo").val(),
                    ProjectAddress: $("#IndustrialAddress").val(),
                    ProjectCity: $("#projectCity").val(),
                    ProjectIndustrialType: $("#projectIndustrialType").val(),
                }),
            }).then(e => e.json()).then(response => {
                alert(response.desc);
                if (response.success)
                    window.location.reload();

            });
        })
    })


</script>